{
    "rapidApiKey": "YOUR API KEY",
    "jobQuery": "Contador Auditor",
    "jobLocation": "chile",
    "workplaceType": "2",
    "sortBy": "DD",
    "jobType": "F",
    "searchLocationId": "104621616"
}